<!doctype html>
{# Top of page navbar. #}
<html>
  <head>
    <title>{% block title %}{% endblock %} - Topics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <nav>
      <h1>Flask Topic Models</h1>
      <ul>
        <li><a href="{{ url_for('topics.topics_all') }}">View Topics</a>
        <li><a href="{{ url_for('topics.corpus_main') }}">View Corpus</a>
        <li><a href="{{ url_for('index') }}">Index</a>
      </ul>
    </nav>
  </head>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
  </html>