{% extends 'base.html' %}

{# Render all topics discovered in the corpus. #}

{% block header %}
  <h1>{% block title %}Topic Modeling{% endblock %}</h1>
{% endblock %}

{% block content %}
  {#
    <form method="post">
      <label for="username">Username</label>
      <input name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <input type="submit" value="Register">
    </form>
  #}

  <p>Top {{topic_model.get_topics().shape[0]}} Topics</p>
  {% for row in topics %}
    {#
      {% for line in check[n][2:] %}
        <p> {{ beta[0][0] }} </p>
      {% endfor %}
    #}
    <p><strong>Topic:</strong> {{row[0]}}</br>
       <strong>Words:</strong> {{row[1]}}</p>
  {% endfor %}
{% endblock %}